/*-------------------------------------------------
    [ ## Fields ]
---------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="date"] {
    font-size: 1.4rem;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.flatpickr_calendar {
    background-color: transparent !important;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0rem 100rem var(--white-950) inset;
    -webkit-box-shadow: 0 0 0rem 100rem var(--white-950) inset;
    -webkit-text-fill-color: var(--black-950) !important;
}
input:-webkit-autofill:focus {
    box-shadow: 0 0 0rem 100rem var(--white-950) inset;
    -webkit-box-shadow: 0 0 0rem 100rem var(--white-950) inset;
    -webkit-text-fill-color: var(--black-950) !important;
}
.form-control {
    font-size: 1.4rem;
    padding: 1.25rem 1.6rem;
    border: .1rem solid var(--slate-100);
    &:focus {
        border-color: var(--black-950);
    }
    &.invalid-input {
        border-color: var(--error-600);
    }
}
textarea.form-control {
    display: block;
    width: 100%;
    display: block;
    min-height: 15rem;
    padding-top: 0;
    font-size: 1.4rem;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.form-floating > .form-control {
    border: none;
    border-bottom: .1rem solid rgba(0,0,0,0.1);
    border-radius: 0;
}


.input-checkbox {
    display: flex;
    align-items: center;
    .checkbox_label {
        position: relative;
        width: 1.8rem;
        height: 1.8rem;
        background-color: var(--primary-600);
        border-radius: .4rem;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 2px;
            width: 1.3rem;
            height: 0.7rem;
            border-left: .2rem solid #fff;
            border-bottom: .2rem solid #fff;
            border-radius: .2rem;
            transform: rotate(-45deg);
            transition: all .15s ease;
            opacity: 0;
        }

    }
    input {
        display: none;

        &:checked {
            & ~ .checkbox_label {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}
// Placeholder Color
::-webkit-input-placeholder {
    color: var(--slate-600);
}
.widget_newsletter::-webkit-input-placeholder {
    color: var(--slate-600);
}

:-moz-placeholder {
    color: var(--slate-600);
    opacity: 1;
}

::-moz-placeholder {
    color: var(--slate-600);
    opacity: 1;
}
:-ms-input-placeholder {
    color: var(--slate-600);
}


/**
 * Hide element while making it readable for screen readers
 */
.figure {
	display: block;
}