$colors: (
    "white": (
        25 : "#ffffff0a",
        50 : "#ffffff14",
        100 : "#ffffff29",
        200 : "#ffffff3d",
        300 : "#ffffff52",
        400 : "#ffffff66",
        500 : "#ffffff80",
        600 : "#ffffffa3",
        700 : "#ffffffb8",
        800 : "#ffffffcc",
        900 : "#ffffffe0",
        950 : "#ffffff",
    ),
    "black": (
        25 : "#0000000a",
        50 : "#00000014",
        100 : "#00000029",
        200 : "#0000003d",
        300 : "#00000052",
        400 : "#00000066",
        500 : "#00000080",
        600 : "#000000a3",
        700 : "#000000b8",
        800 : "#000000cc",
        900 : "#000000e0",
        950 : "#000000",
    ),
    "primary": (
        25 : "#f6f9ff",
        50 : "#EFF6FF",
        100 : "#DCEAFD",
        200 : "#C0DCFD",
        300 : "#95C7FB",
        400 : "#63A8F7",
        500 : "#3E86F3",
        600 : "#2364E7",
        700 : "#2053D5",
        800 : "#2044AD",
        900 : "#203D88",
        950 : "#182753",
    ),
    "success": (
        25 : "#f8fcf8",
        50 : "#edf8ed",
        100 : "#e6f5e7",
        200 : "#cae8cc",
        300 : "#a1d4a4",
        400 : "#6fb873",
        500 : "#4c9a51",
        600 : "#3d8542",
        700 : "#36723b",
        800 : "#315e34",
        900 : "#2b502f",
        950 : "#163119",
        1000 : "#499C4B",
    ),
    "secondary": (
        25 : "#fdf9f7",
        50 : "#fff5ed",
        100 : "#ffe9d5",
        200 : "#fdcfab",
        300 : "#fcae75",
        400 : "#f9813e",
        500 : "#f75c14",
        600 : "#e8450e",
        700 : "#c1310d",
        800 : "#992913",
        900 : "#7b2313",
        950 : "#430e07",
    ),
    "warning": (
        25 : "#fffdf5",
        50 : "#fffeeb",
        100 : "#fffec2",
        200 : "#fff985",
        300 : "#ffef3d",
        400 : "#ffde0a",
        500 : "#f5c400",
        600 : "#cc9200",
        700 : "#a36700",
        800 : "#87560c",
        900 : "#734610",
        950 : "#432505",
    ),
    "error": (
        25 : "#fff5f4",
        50 : "#ffeceb",
        100 : "#ffe1df",
        200 : "#ffc9c5",
        300 : "#ffa59e",
        400 : "#ff7066",
        500 : "#ff4133",
        600 : "#e72113",
        700 : "#bf190d",
        800 : "#99180f",
        900 : "#801b14",
        950 : "#3f0804",
    ),
    "gray": (
        25 : "#f9f9f9",
        50 : "#f6f6f6",
        100 : "#e7e7e7",
        200 : "#d1d1d1",
        300 : "#b0b0b0",
        400 : "#888888",
        500 : "#6d6d6d",
        600 : "#5d5d5d",
        700 : "#4f4f4f",
        800 : "#454545",
        900 : "#3d3d3d",
        950 : "#262626",
    ),
    "slate": (
        25 : "#f8f9fb",
        50 : "#f0f2f4",
        100 : "#e1e5ea",
        200 : "#c4cbd4",
        300 : "#a6b1bf",
        400 : "#8997a9",
        500 : "#6b7d94",
        600 : "#607085",
        700 : "#4b5768",
        800 : "#363e4a",
        900 : "#2b323b",
        950 : "#21252c",
    ),
    "sky_Blue": (
        25 : "#f4fcff",
        50 : "#e5f5ff",
        100 : "#d9f0fd",
        200 : "#b2e2fb",
        300 : "#78d1f7",
        400 : "#37bcf1",
        500 : "#149fd7",
        600 : "#087eb5",
        700 : "#086391",
        800 : "#0a5375",
        900 : "#0e4562",
        950 : "#0a3047",
    ),
);
$font-family : (
    ff : (
        "primary":'"Inter", sans-serif',
        "awesome":'"Font Awesome 5 Pro"',
    )
);
:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --#{$color}-#{$shade}: #{$value};
        }
    }
    @each $ff, $shades in $font-family {
        @each $shade, $value in $shades {
            --#{$ff}-#{$shade}: #{$value};
        }
    }
}
